<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body >
    <div class=" home container">
        <h1>Eat well, live well. Discover nutritious treasures for a vibrant life.</h1>
        <div class="btncontainer">
        <form action="/form" method="get">
            <button >Create post</button>
          </form>
          <form action="/post" method="get">
            <button >View Post</button>
          </form>
        </div>
    </div>
    
</body>
</html>