*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/images/bg.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;

}
.container{
    position:absolute;
    right:100px;

    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    height: 100vh;
}

.container h1{
    font-weight: bold;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#4A7D5E ;
}
button{
    padding: 20px;
    border-radius: 30px;
    background-color:#B7CA97;
    border: none;
    width: 200px;
    font-weight: bold;
    color: white;
    font-size: 25px;
    margin-left: 30px;
    cursor: pointer;
    
}
.btncontainer{
    display: flex;
    position: relative;
    top:50px;
    right: 300px;
}
